<!doctype html>
<html>
    <head>
        <title>hi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Emblema+One|Offside|Piedra|Devonshire|Stardos+Stencil:400,700|Allerta+Stencil|Black+Ops+One' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
