{% extends 'base.html' %}

{% block content %}

<header>
    <h1>Header Heading yo!</h1>
    <p>Some subtitle. Really exciting...</p>
</header>

<nav>
    <ul>
        <li>
            <a href="#">A navigation link</a>
        </li>
        <li>
            <a href="#">All about</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

<div class="error message">
    <h1>Something is up</h1>
    <p>Exercitation vegan whatever Bushwick, Terry Richardson before they sold out chambray. Exercitation DIY nostrud, ugh fashion axe forage bespoke small batch scenester fugiat church-key velit helvetica dreamcatcher.</p>
</div>

<article>
    <h1>Top-level Article heading</h1>

    <p>Fashion axe banh mi vegan forage mumblecore, cliche next level mustache. Thundercats Carles four loko, vegan Portland cliche Pinterest. Deep v pour-over cornhole, sartorial ethical bitters artisan. Marfa craft beer whatever organic typewriter, shoreditch fixie messenger bag bicycle rights you probably haven't heard of them squid artisan meh kale chips. Terry Richardson chillwave street art, ethnic meh pop-up wayfarers aesthetic.</p>

    <p>Pinterest bitters intelligentsia helvetica, fashion axe kogi narwhal hoodie stumptown ugh leggings. Bitters gentrify asymmetrical single-origin coffee, retro polaroid messenger bag letterpress fixie banh mi keffiyeh american apparel Marfa art party. Bicycle rights roof party ugh readymade post-ironic. Retro locavore meh single-origin coffee. Marfa tattooed banjo tote bag, gentrify raw denim mumblecore butcher keffiyeh shabby chic fashion axe plaid viral. Pork belly Portland seitan Truffaut. Messenger bag Bushwick viral, you probably haven't heard of them Williamsburg asymmetrical art party pour-over flannel.</p>

    <h2>Second-level heading right here now</h2>

    <div class="notification message">
        <p>IPhone hashtag reprehenderit cred, lo-fi cardigan irure letterpress ethnic YOLO.</p>
    </div>

    <p>Fingerstache DIY you probably haven't heard of them, tattooed kitsch polaroid direct trade cliche McSweeney's letterpress Cosby sweater blog next level wolf. Vinyl direct trade freegan viral, tousled wayfarers meggings McSweeney's banh mi pug blue bottle fixie. Pitchfork Marfa messenger bag, bicycle rights Vice master cleanse food truck gentrify gastropub twee biodiesel Terry Richardson.</p>

    <h3>Don't forget the deeper ones...</h3>

    <form>
        <p>
            <label for="text">Some text or something:</label>
            <input name="text" id="text" type="text" placeholder="lalala" />
        </p>
        <p>
            <label for="check">Toggle toggle</label>
            <input name="check" id="check" type="checkbox" />
        </p>
        <p class="radio-select">
            <input name="pick" id="red" value="red" type="radio" checked="checked" />
            <label for="red">Red</label>
            <input name="pick" id="green" value="green" type="radio" />
            <label for="green">Green</label>
            <input name="pick" id="blue" value="green" type="radio" />
            <label for="blue">Blue</label>
        </p>
        <button type="submit">Send</button>
    </form>

    <aside>
        <h1>You should know</h1>
        <p>Post-ironic swag sustainable, cred pork belly flannel ugh scenester authentic selvage semiotics. Fixie forage Portland, Vice craft beer artisan vegan 8-bit meh.</p>
    </aside>

    <p>Deep v seitan salvia, banjo Williamsburg Odd Future mumblecore gluten-free bitters mustache readymade fap. Scenester Bushwick cornhole quinoa lo-fi whatever retro irony fap. Mumblecore banh mi photo booth, organic kogi cray viral. Gastropub Etsy keytar fap selvage, jean shorts mixtape Pinterest Cosby sweater hashtag brunch mustache kitsch. Banjo Schlitz Tonx, mumblecore hashtag iPhone banh mi disrupt scenester High Life helvetica. You probably haven't heard of them Carles lomo, deep v scenester american apparel put a bird on it messenger bag fingerstache Vice. Fanny pack whatever freegan literally, cred mixtape mustache pickled.</p>

</article>

{% endblock %}
