{% extends 'base.html' %}

{% block content %}

<div id="splash-box">
    <time>2013</time>
    <h1>Queen's Global Innovation Conference</h1>
    <p class="subtitle">There is no Planet B</p>

    <div id="further">
        <p>November 8-9<sup>th</sup> &mdash; Speakers, Workshops, Design Challenge <span class="tease">further details soon</span></p>
        <p class="emailz">
            <a href="mailto:sponsor:qgic.ca">sponsor@qgic.ca</a> /
            <a href="mailto:register@qgic.ca">register@qgic.ca</a>
        </p>
    </div>
</div>

{% endblock %}
