body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.7);
  background: #333333 url("../img/dark_wood.png"); }

::-moz-selection {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.7);
  text-shadow: none; }

::selection {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.7);
  text-shadow: none; }

header h1 {
  margin: 0;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.7);
  background: rgba(200, 200, 200, 0.6);
  display: inline-block;
  line-height: 1em;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  transition: background 0.2s; }
header p {
  margin: 0;
  font-weight: 700; }

nav {
  margin: 1rem 0; }
  nav ul,
  nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  nav li {
    display: inline; }
    nav li > a {
      color: rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.7);
      background: rgba(200, 200, 200, 0.6);
      display: inline-block;
      line-height: 1em;
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
      transition: background 0.2s; }
      nav li > a:hover {
        background: #5f8255; }

h1,
h2,
h3 {
  margin: 1em 0 0.5em; }

p {
  line-height: 1.618em; }

a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #fff; }

aside {
  border-color: rgba(255, 255, 255, 0.7);
  width: 32%;
  float: right;
  margin: 1rem 0 1rem 2rem; }
  aside h1 {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    background: rgba(200, 200, 200, 0.6);
    display: inline-block;
    line-height: 1em;
    padding: 0.2rem 0.4rem;
    text-transform: uppercase;
    transition: background 0.2s;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase; }
  aside p {
    margin: 0.4rem 0 0;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7); }
    aside p:first-child {
      margin: 0; }
  aside p {
    line-height: 1.4em; }

.message {
  border-color: rgba(255, 255, 255, 0.7);
  margin: 1rem 0;
  padding: 0.4rem;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.4); }
  .message h1 {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    background: rgba(200, 200, 200, 0.6);
    display: inline-block;
    line-height: 1em;
    padding: 0.2rem 0.4rem;
    text-transform: uppercase;
    transition: background 0.2s;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase; }
  .message p {
    margin: 0.4rem 0 0;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.7); }
    .message p:first-child {
      margin: 0; }
  .message.error {
    border-color: #a95a4c; }
    .message.error h1 {
      color: rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.7);
      background: rgba(200, 200, 200, 0.6);
      display: inline-block;
      line-height: 1em;
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
      transition: background 0.2s;
      background: #a95a4c;
      margin: 0;
      font-size: 1rem;
      text-transform: uppercase; }
    .message.error p {
      margin: 0.4rem 0 0;
      font-size: 0.8em;
      color: #a95a4c; }
      .message.error p:first-child {
        margin: 0; }
  .message.notification {
    border-color: #5f8255; }
    .message.notification h1 {
      color: rgba(0, 0, 0, 0.8);
      background: rgba(255, 255, 255, 0.7);
      background: rgba(200, 200, 200, 0.6);
      display: inline-block;
      line-height: 1em;
      padding: 0.2rem 0.4rem;
      text-transform: uppercase;
      transition: background 0.2s;
      background: #5f8255;
      margin: 0;
      font-size: 1rem;
      text-transform: uppercase; }
    .message.notification p {
      margin: 0.4rem 0 0;
      font-size: 0.8em;
      color: #5f8255; }
      .message.notification p:first-child {
        margin: 0; }

label {
  display: block;
  font-size: 0.8em; }

button {
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.7);
  background: rgba(200, 200, 200, 0.6);
  display: inline-block;
  line-height: 1em;
  padding: 0.2rem 0.4rem;
  text-transform: uppercase;
  transition: background 0.2s;
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7); }
  button:hover {
    background: #5f8255; }

.radio-select {
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: relative; }
  .radio-select input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .radio-select input[type="radio"] + label {
    display: inline-block;
    padding: 0 1rem; }
  .radio-select input[type="radio"]:checked + label {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7); }

body {
  text-align: center; }

#splash-box {
  display: inline-block;
  margin: 16% 0 0; }
  #splash-box time,
  #splash-box h1,
  #splash-box p.subtitle {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    background: rgba(200, 200, 200, 0.6);
    display: inline-block;
    line-height: 1em;
    padding: 0.2rem 0.4rem;
    text-transform: uppercase;
    transition: background 0.2s;
    margin: 0.4rem 0;
    display: block;
    float: left;
    clear: left;
    font-weight: bold; }
  #splash-box time {
    font-size: 3.333rem; }
  #splash-box p.subtitle {
    float: right; }
  #splash-box #further {
    clear: both;
    padding: 3rem 0; }
  #splash-box .tease {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.7);
    background: rgba(200, 200, 200, 0.6);
    display: inline-block;
    line-height: 1em;
    padding: 0.2rem 0.4rem;
    text-transform: uppercase;
    transition: background 0.2s;
    background: rgba(127, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.8em;
    padding: 0.1rem;
    font-weight: bold; }
